<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Atualizar Publicação - {{ .Titulo }}</title>
        <link href="/assets/css/bootstrap.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        {{ template "cabecalho" }}

        <div class="container-fluid">
            <div class="row mt-4">
                <div class="col-12">
                    <h3>Atualizar Publicação</h3>
                    <div class="form-group">
                        <label for="titulo">Título</label>
                        <input type="text" class="form-control" id="titulo" name="titulo" value="{{ .Titulo }}" placeholder="Título da publicação" />
                    </div>
                    <br />
                    <div class="form-group">
                        <label for="conteudo">Conteúdo</label>
                        <textarea class="form-control" name="conteudo" id="conteudo" placeholder="Conteúdo da publicação">{{ .Conteudo }}</textarea>
                    </div>
                    <br />
                    <button id="atualizar-publicacao" class="btn btn-info" data-publicacao-id="{{ .ID }}" onclick="atualizarPublicacao('{{ .ID }}')">
                        Salvar
                    </button>
                </div>
            </div>
        </div>

        {{ template "rodape" }}
        {{ template "scripts" }}

        <script src="/assets/js/publicacoes.js" type="text/javascript"></script>
    </body>
</html>