<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Meu Perfil</title>
        <link href="/assets/css/bootstrap.css" type="text/css" rel="stylesheet" />
        <style type="text/css">
            a {
                cursor: pointer;
            }
        </style>
    </head>
    <body>
        {{ template "cabecalho" }}

        <div class="container-fluid">
            <div class="row mt-4">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                Meu Perfil
                            </h5>
                            <h6 class="card-subtitle mb-2 text-muted">
                                {{ .Nome }} - {{ .Nick }} - Membro desde: {{ .CriadoEm.Format "02/01/2006" }}
                            </h6>
                            <p class="card-text">
                                <a href="" data-toggle="modal" data-target="#modal-seguidores">
                                    Seguidores: {{ len .Seguidores }}
                                </a>
                            </p>
                            <p class="card-text">
                                <a href="" data-toggle="modal" data-target="#modal-seguindo">
                                    Seguindo: {{ len .Seguindo }}
                                </a>
                            </p>
                            <div class="row">
                                <div class="col-12">
                                    <a href="/editar-usuario" class="card-link">
                                        <button class="btn btn-info">Editar Usuário</button>
                                    </a>
                                    <a href="/atualizar-senha" class="card-link">
                                        <button class="btn btn-info">Atualizar Senha</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Publicações</h5>
                            <p class="card-text">
                                {{ range .Publicacoes }}
                                    {{ template "publicacao-com-permissao" . }}
                                {{ else }}
                                    <p class="text-muted text-center">
                                        Não há publicações.
                                    </p>
                                {{ end }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <a id="deletar-usuario" class="card-link">
                <button class="btn btn-info" onclick="deletarConta(event)">Excluir Conta</button>
            </a>
        </div>

        {{ template "rodape" }}
        {{ template "modal-seguidores" . }}
        {{ template "modal-seguindo" . }}
        {{ template "scripts" }}
        <script src="/assets/js/publicacoes.js" type="text/javascript"></script>
        <script src="/assets/js/usuario.js" type="text/javascript"></script>
    </body>
</html>